/* -------- FRONT MATTER ---------
** Theme: Obsidian Type Four
** Version number: 1.0.0
** GitHub Repo: https://github.com/aidanastridge/obsidian-type-four
** Made by: aidanastridge
----------------------------------- */

/* +++ TOC
|_ FONT FACES
|_ COLOR VARIABLES
|_ LIGHT MODE
|_ DARK MODE
|_ TYPOGRAPHY & FONTS
|_ UI ELEMENTS
|_ PLUGINS
|_ STYLE SETTINGS
*/

/* +++ FONT FACES */


/* +++ COLOR VARIABLES */
body {
  --base-h: 0;
  --base-s: 0%;
  --base-d: #E8B659; /* base lightness for dark mode. 0 is black */
  --base-l: #F6C950; /* base lightness for light mode. 100 is white */

  /* rgb: 81, 157, 92 */
  --theme-accent-h: 129;
  --theme-accent-s: 31.9%;
  --theme-accent-l: 46.7%;
  --theme-accent-d: 46.7%;

  /* WIP - working with relative HSL values
  --theme-accent-h: calc(var(--accent-h) - 125);
  --theme-accent-d: calc(var(--accent-d) - 21.3%);
  --theme-accent-l: calc(var(--accent-l) - 21.3%);
  --theme-accent-s: calc(var(--accent-s) - 48.1%);
  */

  --base_ribbon: 0%;
}

.theme-dark {
	--background-primary: var(--base-d);
	--background-secondary:var(--base-d)
  }

.theme-light {
	--background-primary: var(--base-l);
	--background-secondary: var(--base-l)
}

.theme-light .side-dock-ribbon {
background-color: var(--base_ribbon);
}

